:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#summary-div {
  display: flex;
  justify-content: space-between;
  height: 15vh;
}

.summary-holder-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 180px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.summary-title-div {
  font-size: 15px;
  font-weight: 600;
}

.summary-amount-div {
  padding-top: 10px;
  font-size: 30px;
  font-weight: 800;
}

table {
  border-collapse: collapse;
}

.timesheet-header th {
  background-image: linear-gradient(#FFFFFF, #E0E0E0);
  border-style: solid;
  border-width: 1px;
  border-color: #C5C5C5;
  padding-right: 20px;
  padding-left: 20px;
}

.timesheet-row td {
  color: #3B5091;
  font-weight: 500;
  border-bottom: 1px solid #D3D3D3;
  padding: 5px 20px 5px 20px;
}

.right-aligned {
  text-align: start;
}

.left-aligned {
  text-align: end;
}

#billable-hours {
  color: black;
}

#billable-hours span {
  color: #9C9C9C;
}

#billable-amount {
  font-weight: bolder;
  color: black;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}